* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cabin', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Poppins', sans-serif;
    /* font-family: 'Montserrat', sans-serif; */

}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(36, 13, 13);

}

nav div {
    /* border: 1px solid rgb(219, 207, 207); */
    width: 461px;
    height: 64px;
}

nav #b {
    width: 550px;

}

nav #b ul li a {
    color: white;
    text-decoration: none;
    font-size: larger;


}
nav #b ul li a:hover{
    text-decoration: underline;


}

nav #b ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    list-style: none;
}
nav #a {
    color: white;
    padding-left: 155px;
    padding-top: 11px;
    font-size: 25px;
}

nav #c div {
    background: transparent;

    border: 2px solid #29d9d5;
    color: #29d9d5;
    width: 149px;
    height: 42px;
    border-radius: 26px;

    margin-left: 159px;
    margin-top: 9px;
    text-align: center;
    font-size: larger;
    padding-top: 4px;
}

nav #c div:hover {
    background-color: #29d9d5;
    color: black;
}

#s1 {
    width: 80%;
    height: 77px;
    background-color: rgb(243, 229, 240);
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border-radius: 7px;
    padding-top: 5px;
}

#s1 h3 {


    color: rgb(4, 4, 90);
    margin-left: 25px;
    margin-top: 10px;

}

#s1 p {


    margin-left: 25px;
    font-size: small;

}

#s2 {
    display: grid;
    grid-template-columns: 393px 393px 393px;
    justify-content: center;
    grid-gap: 25px;
    margin-top: 20px;
}

#s2>div {
    /* border: 1px solid rgb(216, 44, 44); */
    width: 390px;
    height: 257px;
    background-color: #29d9d5;
    border-radius: 10px;
}

#s2>div:nth-child(1) {
    background-image: url("https://images.unsplash.com/photo-1426604966848-d7adac402bff?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
    background-position: center;
    background-size: cover;
}
#s2>div:nth-child(1):hover{
    background-image: url("https://images.unsplash.com/photo-1426604966848-d7adac402bff?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
    background-position: center;
    background-size: cover;
    background-blend-mode: multiply;
    

    
}

#s2>div:nth-child(2) {
    background-image: url("https://images.unsplash.com/photo-1472214103451-9374bd1c798e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
    background-position: center;
    background-size: cover;
}
#s2>div:nth-child(2):hover {
    background-image: url("https://images.unsplash.com/photo-1472214103451-9374bd1c798e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
    background-position: center;
    background-size: cover;
    background-blend-mode: multiply;
}

#s2>div:nth-child(3) {
    background-image: url("https://images.unsplash.com/photo-1414609245224-afa02bfb3fda?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=389&q=80");
    background-position: center;
    background-size: cover;
}
#s2>div:nth-child(3):hover {
    background-image: url("https://images.unsplash.com/photo-1414609245224-afa02bfb3fda?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=389&q=80");
    background-position: center;
    background-size: cover;
    background-blend-mode: multiply;
}

#s2>div:nth-child(4) {
    background-image: url("https://images.unsplash.com/photo-1470770903676-69b98201ea1c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
    background-position: center;
    background-size: cover;
}
#s2>div:nth-child(4):hover {
    background-image: url("https://images.unsplash.com/photo-1470770903676-69b98201ea1c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
    background-position: center;
    background-size: cover;
    background-blend-mode: multiply;
}

#s2>div:nth-child(5) {
    background-image: url("https://images.unsplash.com/photo-1527489377706-5bf97e608852?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1259&q=80");
    background-position: center;
    background-size: cover;
}
#s2>div:nth-child(5):hover{
    background-image: url("https://images.unsplash.com/photo-1527489377706-5bf97e608852?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1259&q=80");
    background-position: center;
    background-size: cover;
    background-blend-mode: multiply;
}

#s2>div:nth-child(6) {
    background-image: url("https://images.unsplash.com/photo-1506260408121-e353d10b87c7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1228&q=80");
    background-position: center;
    background-size: cover;
}
#s2>div:nth-child(6):hover {
    background-image: url("https://images.unsplash.com/photo-1506260408121-e353d10b87c7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1228&q=80");
    background-position: center;
    background-size: cover;
    background-blend-mode: multiply;
}